<div class="modal-header">
    <h3 class="modal-title">Bonus resource</h3>
</div>
<div class="modal-body">
    <div class="row" style="margin: 0;">
        <div class="caption"><h3>Choose {{cp.ressources.joker}} resource(s)</h3>
            <ul class="list-group">
                <a href="" ng-click="get_bonus(1)" class="list-group-item" >
                    1 Wood
                </a>
                <a href="" ng-click="get_bonus(2)" class="list-group-item" >
                    1 Copper
                </a>
                <a href="" ng-click="get_bonus(3)" class="list-group-item" >
                    1 Crystal
                </a>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="termine_bonus()">Confirm</button>
</div>